<% layout('layouts/boilerplate') %>
<div class="row">
<div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
<h4 class="alert-heading"><%= err.message %></h4>
          </div>
        <div>
            <% if (process.env.NODE_ENV != 'production') { %>
            <p><%= err.stack %></p>
            <% } %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-3">
       <img class="img-fluid max-width: 100% rounded float-left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH_9ByeMp6zF3jId4qx6FInJ2pAd36FBTHSg&s">
    </div>
</div> 
    

